/* HEADER */
/* header_top */
.header_top{
  padding: 20px 0;
}

.header_top_logo{
  height: 50px;
  width: 150px;
  background: lightblue;
}
/* /header_top */

/* header_hero */
.header_hero{
  background-color: blue;
  padding: 50px 0;
}
/* /header_hero */
/* /HEADER */

/* MAIN */
/* main_section_1 */
.main_section_1{
  background-color: lightgrey;
}

.sponsor_list{
  height: 100px;
  background-color: green;
  margin-bottom: 20px;
}
/* /main_section_1 */

/* main_section_2 */
.description_list{
  border-left: 1px solid black;
}
/* /main_section_2 */

/* /MAIN */
